/*
Material Design Color Palete:
.dark-primary-color  { background: #0097A7; }
.default-primary-color { background: #00BCD4; }
.light-primary-color   { background: #B2EBF2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
*/

body {
	background-color: #FFFFFF;
	color: #607D8B;
	height: 100%;
	width: 100%;
	background-image: url("./images/pusheengray.png");
}

#header {
	font-family: Georgia;
    font-weight: bold;
    font-style: italic;
    align-items: center;
	background-color: #0097A7;
	display: flex;
	height: 80px;
	justify-content: space-between;
	width: 100%;
}

#header-title {
    font-size: 3em;
    color: #FFFFFF;
    margin: 0 0 0 450px;
}

#game-directions{

    float: left;
	padding: 60px 30px;
	color:  #607D8B;
	text-align: center;
	   
}

.uk-card {
   color: #607D8B;
   
}

#game-board {
	position: relative;
    float: right;
    padding: 50px 100px ;
}

#canvas {
	border-width: 2px;  
    border-bottom-style: double;
	border-bottom-color: #00BCD4;
}

#footer {
	align-items: center;
	background-color: #0097A7;
	display: flex;
	height: 50px;
	justify-content: space-between;
	width: 100%;
}